@page
@model IndexModel


<section class="hero-banner">

    <div class="welcome-container">
        <h1 class="welcome-text">Web Design & Development by Tayfun</h1>
    </div>


    <div class="invitation-container">
        <p class="invitation-text">Please explore the pages to discover me.</p>
    </div>
</section>